<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="17DD31425F6D8C9A6DD5619C8136C9C4037A8F1352AFDE042E3DC7474D1E89A85EEF4DDE42211D34E5A1ECA5E032805CD61F99AF65136BA0ACFBFECA3D928BBF" decryptionKey="3100982C846B413D14E8E098E9BC7DEBD1BA070644D684CD5E18E46453440B2A" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="14EFF7368A62B00809562FF6C4BEC28A21F9B3CF130F3B8D12B01B150A88D025" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="14EFF7368A62B00809562FF6C4BEC28A21F9B3CF130F3B8D12B01B150A88D025" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="31aad4e1-ce18-4c54-b25d-f44ce095dabd" name="Everyone" config:flags="1" />
		<role id="0519a1e1-a679-43ec-bb55-21fb71d2a0df" name="Anonymous" config:flags="1" />
		<role id="6a4f7420-c98e-450f-9f4a-f1ae1715de59" name="Authenticated" config:flags="1" />
		<role id="2ed367ea-61cd-4285-b498-2c2cc4ee7e12" name="Owner" config:flags="1" />
		<role id="5200f614-54f0-4c71-a0f2-817a4a81498c" name="Administrators" config:flags="1" />
		<role id="9dbf1508-31af-4d59-8e83-c86985d8f4b8" name="BackendUsers" config:flags="1" />
		<role id="fdd1e254-8c26-4f80-9937-afd3dfdf2897" name="Authors" config:flags="1" />
		<role id="ced0ec7c-28b0-425c-b738-730990a6202a" name="Editors" config:flags="1" />
		<role id="5af3ba94-79b8-4740-8901-76668fa74697" name="Designers" config:flags="1" />
		<role id="133058ee-52b3-406d-bf20-f0962bd3c281" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>