<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="7F534D1F56F228C194757D857D89B8C23652E369BB365327A0EFEB799CE5DBC80B173C284B4FD958919CF4C03F475F4EEDACCE90B069663231E240D1E706D7F7" decryptionKey="25810950CEB70D1E8CBACA6B7C0F8868A74448F24C0255DEB643B1AA1756855F" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="970D4D495BF2066156B5DC0877FDF3A8378DA1552B5F90777AEAEED7A6E42EB3" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="970D4D495BF2066156B5DC0877FDF3A8378DA1552B5F90777AEAEED7A6E42EB3" realm="http://localhost" />
	</relyingParties>
	<applicationRoles>
		<role id="00cb2f00-b7ce-4b26-96d5-c79d0ab73e72" name="Everyone" config:flags="1" />
		<role id="828ba116-c918-42e4-ac9a-d53034d00f07" name="Anonymous" config:flags="1" />
		<role id="c3912e9f-3dfb-4778-850d-37bd69f087fa" name="Authenticated" config:flags="1" />
		<role id="e3f6d22d-7b32-4085-9c2d-7bec420aa6b3" name="Owner" config:flags="1" />
		<role id="a59e08d0-d842-4b4a-b99a-7fe14b5c7e85" name="Administrators" config:flags="1" />
		<role id="fdddbe68-bbe3-4a87-a1a3-d782ace877e7" name="BackendUsers" config:flags="1" />
		<role id="ce786ee2-a2db-4af3-be1f-28045990025c" name="Authors" config:flags="1" />
		<role id="685c1f47-6257-4bbf-bafb-8b4223fb1b62" name="Editors" config:flags="1" />
		<role id="ae5b3669-78aa-4619-a7fe-601579505263" name="Designers" config:flags="1" />
		<role id="551c6074-a42c-4b89-a736-02d69380fdbe" name="Users" config:flags="1" />
	</applicationRoles>
</securityConfig>