<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0">
	<cacheManagers>
		<add startScavengingAfterItemCount="10000" whenScavengingRemoveItemCount="100" name="MarketoConnectorCache" />
	</cacheManagers>
</systemConfig>